<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     FireBase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FireBase</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let item of items ; let index=index">
      <ion-badge slot="start" color="primary">{{index+1}}</ion-badge>
      
      <ion-label>{{item.todoItem}}</ion-label>
      <ion-icon name="trash-outline" color="danger" (click)="delete(item.id)"></ion-icon>
    </ion-item>
  </ion-list>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentAlertPrompt()"> 
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>